<div class="page-wrapper">



       <div class="weather-container">

           <div class="weather-now">
               {{currentWeather.weather}}

           </div>

           <div class="weather-main">

               <div class="weather-left">
                   <img src="{{currentWeather.icon_url}}" alt="Clear" class="{{currentWeather.weather}}">
               </div>

               <div class="weather-right">
                   {{currentWeather.temp_f}} <sup>&#176</sup> F
               </div>

               <!-- end weather-main section -->
           </div>

           <div class="weather-lowerLeft">
               Pressure: {{currentWeather.pressure_in}} <br>
               Percipitation: {{currentWeather.precip_today_in}} in.<br>
               <img arrow-dir src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/3d-transparent-glass-icons-arrows/006775-3d-transparent-glass-icon-arrows-cut-arrow-down.png" class="pressure-arrow"  pressure='currentWeather.pressure_trend'>
           </div>

           <div class="weather-lowerRight">
               Wind: {{currentWeather.wind_dir}}<br>
               {{currentWeather.wind_mph}} mph
           </div>


               <!-- end weather-container -->
       </div>

       <div class="navigation-mainContainer">


           <button type="button" ng-click='gotoMap()'>Current Location</button>




       </div>

       <div class="navigation-footer">
           <img src="http://icons.wxug.com/graphics/wu2/logo_130x80.png" alt="Weather Underground">
       </div>






           <!-- end page wrapper -->
     </div>
