<h1>Navigation Page</h1>
<a ui-sref='map'>Map Page</a> or <a ui-sref='home'>Home Page</a>

<div class="weather-container">

    <div class="weather-now">
        {{currentWeather.weather}}
    </div>

    <div class="weather-main">

        <div class="weather-left">
            <img src="{{currentWeather.image.url}}" alt="{{currentWeather.weather}}">
        </div>

        <div class="weather-right">
            {{currentWeather.temp_f}}
        </div>

        // end weather-main section
    </div>

    <div class="weather-lowerLeft">
        {{currentWeather.precip_today_in}}<br>
        {{currentWeather.pressure_in}}
    </div>

    <div class="weather-lowerRight">
        {{currentWeather.wind_dir}}<br>
        {{currentWeather.wind_mph}}
    </div>


        // end weather-container
</div>

<div class="navigation-mainContainer">




</div>

<div class="navigation-footer">
    <img src="{{currentWeather.image.url}}" alt="{{currentWeather.image.title}}">
</div>
